/* App.css */
.container {
  max-width: 800px;
  margin: auto;
}

.category {
  margin-bottom: 20px;
}

.product-box {
  border: 1px solid #110606;
  padding: 20px;
  margin-bottom: 10px;
}

.add-to-cart,
.remove-from-cart {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 5px;
}

.add-to-cart:hover,
.remove-from-cart:hover {
  background-color: #0056b3;
}
